.header{
    height: 10vh;
    width: 100vw;
    background:#e3e5e8;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items:center
}
.header h2{
    padding:0 0 0 2rem;
    color:#8c8a89;
    text-decoration: none;
}
.header__lists ul{
    list-style: none;
}
.header__lists li{
    display: inline-block;
    padding-right: 3rem;
    font-weight: bold;
}
a{
    text-decoration: none;
    color:#8c8a89;
}