.subscribers{
   height: auto;
   width: 100vw;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   color:#8c8a89;

}

.subscribers__data{
    height: 10rem;
    width: 20rem;
    background:#e3e5e8;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 2rem;
    font-weight: bold;
}
.heading{
    text-align: center;
    padding:0 0 0 2rem;
    color:#8c8a89;
}
.inputSearch{
    display: flex;
    justify-content: center;
}

.inputSearch input{
    text-align: center;
    background:#e3e5e8;
    height: 5vh;
    width: 30vw;
    color:#8c8a89;
    font-size: larger;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.buttons button{
    height: 5vh;
    width: 15vw;
    text-align: center;
    background:#e3e5e8;
    color:#8c8a89;
    font-size: larger;
}