.summary{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color:#8c8a89;
    font-weight: bold;
}
.summaryy{
    width: auto;
    color:#8c8a89;
    background:#e3e5e8;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 2rem;
}
.summary__user{
    height: 20rem;
    width: 20rem;
    background:#e3e5e8;
    margin: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 2rem;
}

.summary__heading{
    text-align: center;
    margin: 1rem;
    color:#8c8a89;
}